{% block content %}

    <div class="row">
        <div class="col-12 mt-3 text-center text-uppercase">
            <h2>Login</h2>
        </div>
    </div>

    <main class="row">
        <div class="col-lg-4 col-md-6 col-sm-8 mx-auto bg-white py-3 mb-4">
            <div class="row">
                <div class="col-12">
                    <form action="{{ url_for('login') }}" method="POST">
                        {{ form.hidden_tag() }}
                        <div class="form-group">
                            {{ form.id.label() }}
                            {{ form.id(size = 32,class='form-control ') }}
                            <div class="text-danger"> {{ form.id.errors[0] }} </div>
                        </div>
                        <div class="form-group">
                            {{ form.password.label() }}
                            {{ form.password(size = 32, class="form-control" ) }}
                            <div class="text-danger"> {{ form.password.errors[0] }} </div>
                        </div>
                        <div class="form-group">
                            {{ form.submit(class="btn btn-outline-dark") }}
                        </div>
                    </form>
                </div>
            </div>
        </div>
        

    </main>
    <p>New User? <a href="{{ url_for('register') }}">Click to Register!</a></p>

{% endblock %}